:root {
    --font-texto: 'Inter', sans-serif;
    --cor-fundo: #061534;
    --cor-texto: #00D8CA;
    --cor-branca: #FFFF;
    --cor-borda: #00D8CA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--cor-fundo);
    padding: 20px;
    font-family: var(--font-texto);
    height: 100vh;
    
}  

.container {
    border: 2px solid var(--cor-borda);
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    width: 800px;  
    max-width: 100%; 
}

.container-cabecalho {
    background-color: #0c1d3d;
    height: 100px;
}

.cabecalho-texto {
    color: var(--cor-branca);
    text-align: center;
    padding-top: 35px;
    font-size: 2rem;
}

.container-main {
    display: flex;
    flex-direction: column;  
    margin: 20px;
}

.main-inserir-texto {
    display: flex;
    flex-direction: column;    
    gap: 20px;   
}

label {
    color: var(--cor-branca);
}

.input-mensagem {
    height: auto;
    outline: none;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    transition: all 0.5s;
    border-radius: 10px;
    font-size: 1rem;
    overflow: hidden;
    padding: 10px;
    width: 40%;
}

input:hover,
input:focus {
  border: 2px solid var(--cor-texto);
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: var(--cor-fundo);
}

.main-button {
    padding: 20px 0px 20px 0px;
}

.container-main .main-button button {
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.main-resposta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: var(--cor-branca);
}

button,button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: var(--cor-branca);
    background-color: transparent;
    position: relative;
  }
    
    button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
      
  }
  
  .button::after {
    content: 'CONTAR'
  }
  

  button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
    
  button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
    
  button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
    
    @keyframes glitch_4011 {
      0% {
        clip-path: var(--move1);
        transform: translate(0px,-10px);
      }
    
      10% {
        clip-path: var(--move2);
        transform: translate(-10px,10px);
      }
    
      20% {
        clip-path: var(--move3);
        transform: translate(10px,0px);
      }
    
      30% {
        clip-path: var(--move4);
        transform: translate(-10px,10px);
      }
    
      40% {
        clip-path: var(--move5);
        transform: translate(10px,-10px);
      }
    
      50% {
        clip-path: var(--move6);
        transform: translate(-10px,10px);
      }
    
      60% {
        clip-path: var(--move1);
        transform: translate(10px,-10px);
      }
    
      70% {
        clip-path: var(--move3);
        transform: translate(-10px,10px);
      }
    
      80% {
        clip-path: var(--move2);
        transform: translate(10px,-10px);
      }
    
      90% {
        clip-path: var(--move4);
        transform: translate(-10px,10px);
      }
    
      100% {
        clip-path: var(--move1);
        transform: translate(0);
      }
    }
